.movie {
  display: flex;
  align-items: flex-start;
}

.movieDetails {
  margin-left: 40px;
  max-width: 650px;
}

.movieImage {
  height: 500px;
}

.button {
  margin-bottom: 10px;
  cursor: pointer;
}
