@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

.profile {
  border-radius: 10px;
  border: 2px solid #e2e8ef;
  display: block;
  margin: 0 auto;
  width: 281px;
  height: 362px;
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

.description {
  padding: 24px 56px;
  text-align: center;
}

.avatar {
  border-radius: 50%;
}

.name {
  font-weight: 700;
  font-size: 18px;
}

.tag,
.location {
  font-weight: 400;
  font-size: 14px;
  color: #768696;
}

.stats {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.stats li {
  padding: 19px 25px;
  display: inline-block;
  text-align: center;
  border: 1px solid #e4e9f0;
  background-color: #f3f6f9;
}

.label {
  font-size: 12px;
  font-weight: 400;
  color: #768696;
  text-transform: capitalize;
  display: block;
}

.quantity {
  display: block;
  font-weight: 700;
  font-size: 14;
  color: #1f3349;
}
