@import '../../../styles/smart-grid.scss';

.actors {
  padding: 0;
  list-style-type: none;
  display: flex;
  overflow-x: auto;
  @include sm-block() {
    overflow-x: unset;
    display: block;

    li:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.image {
  width: 100%;
  height: 260px;
  @include sm-block() {
    width: 100px;
    height: auto;
  }
  @include xs(width, 70px);
}

.actorCharacter {
  display: block;
}

.actorsList {
  display: block;
  margin-left: 20px;
  width: 168px;

  @include sm-block() {
    display: flex;
    align-items: center;
    width: 368px;
    margin-left: 0;
  }
}

.actorText {
  text-align: center;
  @include sm-block() {
    margin: 0 0 0 5px;
  }
  @include xs(font-size, 13px);
}
